
@{
    ViewBag.Title = "Teaching Progress";
    Layout = "~/Areas/admin/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-4 form-group">
        <label>Faculty</label>
        <select class="form-control" id="slFaculties1"></select>
    </div>
    <div class="col-md-4">
        <label>Classroom</label>
        <select class="form-control" id="slClassrooms1"></select>
    </div> 
    
    <div class="col-md-4 form-group">
        <label>Lecturer</label>
        <select class="form-control" id="slLecturers1"></select>
    </div>    
</div>
<div class="row" style="margin-top:5px;">
    <div class="col-md-4 form-group">
        <label>School year</label>
        <select class="form-control" id="slSchoolYears1"></select>
    </div>   
    <div class="col-md-4">
        <label>Semester</label>
        <select class="form-control" id="slSemesters1"></select>
    </div> 
    <div class="col-md-4 form-group">
        <label>Subject</label>
        <select class="form-control" id="slSubjects1"></select>
    </div>
    
</div>
<div class="rows" style="margin-top:5px">
    <div class="col-md-4">
        <select class="form-control" id="slStatus1">
            <option value="-1">All</option>
            <option value="0">Actived</option>
            <option value="1">Unactived</option>
        </select>
    </div>
    <div class="col-md-4">
        <div class="input-group">
            <input type="text" class="form-control" id="txtKeyword" placeholder="Enter your keyword ...">
            <span class="input-group-btn">
                <button type="button" class="btn btn-info" id="btnSearch">
                    <i class="fa fa-search" aria-hidden="true"></i>
                    Search...
                </button>
            </span>
        </div>
    </div>
    <div class="col-md-4 text-right">
        <button class="btn btn-success" data-toggle="modal" data-target="#progressModal">
            <i class="fa fa-plus" aria-hidden="true"></i>
            Add new progress
        </button>
    </div>
</div>

    <div class="table-responsive">
        <table class="table table-hover-color">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Faculty</th>
                    <th>Subject</th>
                    <th>Classroom</th>
                    <th>Lecturer</th>
                    <th>School year</th>
                    <th class="text-right">Enrollment</th>
                    <th></th>
                </tr>
            </thead>
            <tbody id="tblProgresses">  </tbody>
        </table>
    </div>

<ul data-hover="" class="pagination mtm mbm" id="pagination">  
    
</ul>


<!-- Modal -->
<div id="progressModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" id="modalTitle">Add new progress</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-4 form-group">
                        <label>Faculty</label>
                        <select class="form-control" id="slFaculties"></select>
                    </div>
                    <div class="col-md-4 form-group">
                        <label>Class</label>
                        <select class="form-control" id="slClassrooms"></select>
                    </div>
                    <div class="col-md-4 form-group">
                        <label>Subject</label>
                        <select class="form-control" id="slSubjects"></select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2 form-group">
                        <label>School year</label>
                        <select class="form-control" id="slSchoolYears"></select>
                    </div>
                    <div class="col-md-2 form-group">
                        <label>Semester</label>
                        <select class="form-control" id="slSemesters"></select>
                    </div>
                    <div class="col-md-4 form-group">
                        <label>Lecturer</label>
                        <select class="form-control" id="slLecturers"></select>
                    </div>
                    <div class="col-md-4 form-group">
                        <label>Number of students</label>
                        <input type="number" id="txtNumberOfStudents" class="form-control" min="1">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" id="btnSubmit">Submit changes</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>



@section scripts{
    <script src="~/Assets/admin/teaching_progress.js"></script> 
}

