
@{
    ViewBag.Title = "PC Room List";
    Layout = "~/Areas/admin/Views/Shared/_Layout.cshtml";
    ViewData["page"] = "Danh sách phòng máy";
    ViewData["icon"] = "fa fa-desktop fa-fw";
    ViewData["url"] = "/admin/room";
}

<div class="row">
    <div class="col-md-10">
        <div class="input-group">
            <div class="input-group-btn">
                <button type="button" data-toggle="dropdown" class="btn btn-default dropdown-toggle">Action <span class="caret"></span></button>
                <ul class="dropdown-menu">
                    <li><a href="#">All</a></li>
                    <li><a href="#">Free</a></li>
                    <li><a href="#">Busy</a></li>                  
                </ul>
            </div>
            <input type="text" class="form-control" id="txtKeyword">
            <span class="input-group-btn"><button type="button" class="btn btn-default" id="btnSearch"><i class="fa fa-search" aria-hidden="true"></i> Search</button></span>
        </div>
    </div>
    <div class="col-md-2 text-right">
        <button class="btn btn-success" id="btnAddRoom">
            <i class="fa fa-plus" aria-hidden="true"></i>
            Add new room
        </button>
    </div>
</div>
<div class="table-responsive">
    <table class="table table-hover-color">
        <thead>
            <tr>
                <th>#</th>
                <th>Room name</th>
                <th>Location</th>
                <th>Number of PC</th>
                <th>Monitor</th>
                <th>Mainboard</th>
                <th>CPU</th>
                <th>RAM</th>
                <th>VGA</th>
                <th>SSD</th>
                <th>HDD</th>
                <th>Keyboard</th>
                <th>Mouse</th>
                <th>Headphone</th>
                <th>Speaker</th>
                <th>PSU</th>
                <th>Status</th>
                <th>Note</th>
                <th></th>
            </tr>
        </thead>
        <tbody id="tblRooms">  </tbody>
    </table>
</div>


<!-- Modal -->
<div id="roomModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" id="modalTitle">Modal Header</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6 form-group">
                        <label>Name</label>
                        <input type="text" class="form-control" id="txtName"/>
                    </div>
                    <div class="col-md-6 form-group">
                        <label>Location</label>
                        <input type="text" class="form-control" id="txtLocation" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 form-group">
                        <label>Number Of PC</label>
                        <input type="number" min="1" class="form-control" id="txtNumberOfPC" />
                    </div>
                    <div class="col-md-6 form-group">
                        <label>Monitor</label>
                        <input type="text" class="form-control" id="txtMonitor" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 form-group">
                        <label>Mainboard</label>
                        <input type="text" class="form-control" id="txtMainboard" />
                    </div>
                    <div class="col-md-6 form-group">
                        <label>CPU</label>
                        <input type="text" class="form-control" id="txtCPU" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 form-group">
                        <label>RAM</label>
                        <input type="text" class="form-control" id="txtRAM" />
                    </div>
                    <div class="col-md-6 form-group">
                        <label>VGA</label>
                        <input type="text" class="form-control" id="txtVGA" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 form-group">
                        <label>SSD</label>
                        <input type="text" class="form-control" id="txtSSD" />
                    </div>
                    <div class="col-md-6 form-group">
                        <label>HDD</label>
                        <input type="text" class="form-control" id="txtHDD" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 form-group">
                        <label>Keyboard</label>
                        <input type="text" class="form-control" id="txtKeyboard" />
                    </div>
                    <div class="col-md-6 form-group">
                        <label>Mouse</label>
                        <input type="text" class="form-control" id="txtMouse" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 form-group">
                        <label>Headphone</label>
                        <input type="text" class="form-control" id="txtHeadphone" />
                    </div>
                    <div class="col-md-6 form-group">
                        <label>Speaker</label>
                        <input type="text" class="form-control" id="txtSpeaker" />
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 form-group">
                        <label>PSU</label>
                        <input type="text" class="form-control" id="txtPSU" />
                    </div>
                    <div class="col-md-6 form-group">
                        <label>Note</label>
                        <input type="text" class="form-control" id="txtNote" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" id="btnSubmit">Submit changes</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

@section scripts{
    <script src="~/Assets/admin/room.js"></script>
}
