
@{
    ViewBag.Title = "Lecturers list";
    ViewData["icon"] = "fa fa-user";
    ViewData["url"] = "/admin/lecturer";
    Layout = "~/Areas/admin/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-4 text-right">
        <select class="form-control" id="slFaculties"></select>
    </div>
    <div class="col-md-6">
        <div class="input-group">
            <input type="text" class="form-control" id="txtKeyword" placeholder="Enter your keyword ...">
            <span class="input-group-btn">
                <button type="button" class="btn btn-info" id="btnSearch">
                    <i class="fa fa-search" aria-hidden="true"></i>
                    Search...
                </button>
            </span>
        </div>
    </div>
    <div class="col-md-2 text-right">
        <button class="btn btn-success" data-toggle="modal" data-target="#lecturerModal">
            <i class="fa fa-plus" aria-hidden="true"></i>
            Add new lecturer
        </button>
    </div>
</div>


<div class="table-responsive">
    <table class="table table-hover-color">
        <thead>
            <tr>
                <th>#</th>
                <th>Faculty</th>
                <th>Position</th>
                <th>Username</th>
                <th>Fullname</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Is actived</th>
                <th></th>
            </tr>
        </thead>
        <tbody id="tblLecturers">  </tbody>
    </table>
</div>

<!-- Modal -->
<div id="lecturerModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" id="modalTitle">Add new lecturer</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6 form-group">
                        <label>Position</label>
                        <select class="form-control" id="slPositions"></select>
                    </div>
                    <div class="col-md-6 form-group">
                        <label>Fullname</label>
                        <input type="text" class="form-control" id="txtFullname" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 form-group">
                        <label>Username</label>
                        <input type="text" class="form-control" id="txtUsername" />
                    </div>
                    <div class="col-md-4 form-group">
                        <label>Password</label>
                        <input type="password" value="123" class="form-control" id="txtPassword" />
                    </div>
                    <div class="col-md-4 form-group">
                        <label>Repeat password</label>
                        <input type="password" value="123" class="form-control" id="txtRepeatPassword" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 form-group">
                        <label>Phone</label>
                        <input type="text" class="form-control" id="txtPhone" />
                    </div>
                    <div class="col-md-8 form-group">
                        <label>Email</label>
                        <input type="text" class="form-control" id="txtEmail" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" id="btnSubmit">Submit changes</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>



@section scripts{
    <script src="~/Assets/admin/lecturer.js"></script>
}




