<nav id="sidebar" role="navigation" data-step="2" data-intro="Template has &lt;b&gt;many navigation styles&lt;/b&gt;"
     data-position="right" class="navbar-default navbar-static-side">
    <div class="sidebar-collapse menu-scroll">
        <ul id="side-menu" class="nav">

            <div class="clearfix"></div>
            <li class="active">
                <a href="/admin/home">
                    <i class="fa fa-home">
                        <div class="icon-bg bg-orange"></div>
                    </i><span class="menu-title">Home</span>
                </a>
            </li>
            <li>
                <a href="/admin/faculty">
                    <i class="fa fa-sitemap fa-fw">
                        <div class="icon-bg bg-blue"></div>
                    </i><span class="menu-title">Faculty</span>
                </a>
            </li>
            <li>
                <a href="/admin/class">
                    <i class="fa fa-users" aria-hidden="true">
                        <div class="icon-bg bg-blue"></div>
                    </i><span class="menu-title">Class</span>
                </a>

            </li>
            <li>
                <a href="/admin/practiceschedule">
                    <i class="fa fa-calendar" aria-hidden="true">
                        <div class="icon-bg bg-blue"></div>
                    </i><span class="menu-title">Schedule</span>
                </a>

            </li>
            <li>
                <a href="/admin/position">
                    <i class="fa fa-level-up" aria-hidden="true">
                        <div class="icon-bg bg-blue"></div>
                    </i><span class="menu-title">Position</span>
                </a>

            </li>
            <li>
                <a href="/admin/room">
                    <i class="fa fa-desktop fa-fw">
                        <div class="icon-bg bg-pink"></div>
                    </i><span class="menu-title">Room</span>
                </a>

            </li>
            <li>
                <a href="/admin/semester">
                    <i class="fa fa-desktop fa-fw">
                        <div class="icon-bg bg-pink"></div>
                    </i><span class="menu-title">Semester</span>
                </a>

            </li>
            <li>
                <a href="/admin/lecturer">
                    <i class="fa fa-user">
                        <div class="icon-bg bg-violet"></div>
                    </i><span class="menu-title">Lecturer</span>
                </a>

            </li>
            <li>
                <a href="/admin/teachingprogress">
                    <i class="fa fa-list" aria-hidden="true">
                        <div class="icon-bg bg-green"></div>
                    </i><span class="menu-title">Teaching progress</span>
                </a>
            </li>
            <li>
                <a href="/admin/subject">
                    <i class="fa fa-book">
                        <div class="icon-bg bg-pink"></div>
                    </i><span class="menu-title">Subject</span>
                </a>

            </li>     
            <li>
                <a href="/admin/statistic">
                    <i class="fa fa-bar-chart-o fa-fw">
                        <div class="icon-bg bg-orange"></div>
                    </i><span class="menu-title">Statistic</span>
                </a>

            </li>

                  
        </ul>
    </div>
</nav>