@model QuanLyPhongMayThucHanh_MVC.Models.Lecturer
<ul class="nav navbar navbar-top-links navbar-right mbn">    
    <li class="dropdown topbar-user">
        <a data-hover="dropdown" href="#" class="dropdown-toggle"><img src="@Model.avatar" alt="" class="img-responsive img-circle" />&nbsp;<span class="hidden-xs">@Model.fullname</span>&nbsp;<span class="caret"></span></a>
        <ul class="dropdown-menu dropdown-user pull-right">
            <li><a href="/account/myprofile"><i class="fa fa-user"></i>My Profile</a></li>
            <li><a href="/practiceschedule/owncalendar"><i class="fa fa-calendar"></i>My Calendar</a></li>
            <li class="divider"></li>
            <li><a href="/account/logout"><i class="fa fa-key"></i>Log Out</a></li>
        </ul>
    </li>

</ul>