
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Đăng ký tài khoản giảng viên - Hệ thống quản lý phòng máy thực hành</title>
</head>
<body>
    <div> 
    </div>
</body>
</html>
