
@{
    ViewBag.Title = "Đăng ký sử dụng phòng";
    ViewData["page"] = "Phòng máy";
    ViewData["sub"] = "Đăng ký";
    ViewBag.icon = "icon_desktop";
    ViewData["url"] = "/pcroom";

    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Book</h2>

